In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
purchase_data_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Displays the total number of players

In [2]:
# To get an accurate list of the total number of players I want to count each unique player SN . . . 
# because certain player SN's might appear more than once.  
# To do this the I am going to create another dataframe without the duplicate SNs
no_duplicate_df=purchase_data_df.drop_duplicates(subset="SN")
# Count and print the number of unique player SNs
total_players=len(no_duplicate_df["SN"])
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Code runs basic calculations on dataframe to obtain number of unique items, average price, number of purchases, and total revenue


* Creates a summary data frame to hold the results

In [3]:
#Number of unique items
unique_items_list=purchase_data_df["Item ID"].unique()
num_items=len(unique_items_list)
#Average Price
average_price = purchase_data_df["Price"].mean()
#Number of purchases
num_purchases=purchase_data_df["Price"].count()
#Total Revenue
total_rev=purchase_data_df["Price"].sum()

#Create a dataframe with these calculations and format the data
total_purchasing_df = pd.DataFrame({"Number of Unique Items": [num_items],
                                   "Average Price":["${:.2f}".format(average_price)],
                                   "Number of Purchases":[num_purchases],
                                   "Total Revenue":["${:.2f}".format(total_rev)]})
total_purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Code finds number of Male, Female, and Other / Non Disclosed players. Based on this the code calculates the percentage of players that are each gender

In [4]:
#Value_counts is a defined function in python that will allow me to accomplish this tasks
gender_counts = no_duplicate_df["Gender"].value_counts()
gender_counts_list = gender_counts.tolist()
gender_demographics_df = pd.DataFrame({"Total Count": gender_counts,
                                      "Percentage of Players": ((gender_counts/total_players)*100).map("{:.2f}%".format)})
gender_demographics_df

<class 'pandas.core.series.Series'>

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Code performs purchasing analysis by gender.


* Calculates average purchase price, total purchase value, and avg total purchase per person for each gender

In [6]:
#First I am going to find the purchase count for each gender
gender_purchases_count= purchase_data_df["Gender"].value_counts()
#Now I am recounting the number of each gender like the dataframe above 
gender_number = no_duplicate_df["Gender"].value_counts()

#This groups the dataframe by Gender which makes it easier to perform functions on it 
gender_grouped_df = purchase_data_df.groupby(["Gender"])

tot_gender_spent = gender_grouped_df["Price"].sum()
avg_gender_spent = gender_grouped_df["Price"].mean()

avg_per_gender = tot_gender_spent / gender_number

#Here I am creating the dataframe to group and print the information
gender_purchasing_df = pd.DataFrame(gender_purchases_count)
gender_purchasing_df["Average Purchase Price"] = avg_gender_spent.map("${:.2f}".format)
gender_purchasing_df["Total Purchase Value"] = tot_gender_spent.map("${:.2f}".format)
gender_purchasing_df["Avg Total Purchase per Person"] = avg_per_gender.map("${:.2f}".format)

gender_purchasing_df

,Gender,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Code creates bins so that performing analysis based on players aged is easier.


* Using this bins the code calculates the number / percentage of players that fall into each age range

In [7]:
# Now I am going to calculate age demographics
# The first step to doing this is finding the maximum and minimum age in the database
min_age = no_duplicate_df["Age"].min()
max_age = no_duplicate_df["Age"].max()
print(f"The youngest player is {min_age} years old. The oldest player is {max_age} years old")

The youngest player is 7 years old. The oldest player is 45 years old

In [8]:
#Here I am creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

label_list = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#This code adds an extra column to the dataframe with the age range bins 
#It is important to note that I am using the no_duplicate dataframe here because I am going to count the number of players . . .
#in each age range. Later I am going to look at purchasing analysis where I need to use the original dataframe with duplicates
no_duplicate_df["Age Range"] = pd.cut(no_duplicate_df["Age"], bins, labels=label_list, include_lowest=True)

C:\Users\Collin\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [9]:
#Similar to above where I used value_counts to count genders now I am using it on age
age_counts = no_duplicate_df["Age Range"].value_counts()
age_demographics_df = pd.DataFrame({"Total Count": age_counts, 
                                    "Percentage of Players": ((age_counts/total_players)*100).map("{:.2f}%".format)})
age_demographics_df.reindex(["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
#age_demographics_df.sort_index(ascending=True)

       Total Count Percentage of Players
0-10            17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Once again the players are binned by age ranges of 5 years starting at 10 and going to older then 40 years old 


* The code calculates the average purchase price, the total purchase value, and the average total purchase per person for each age range bin

In [10]:
#Same bin creation as before but this time the original dataset will now have bins 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

label_list = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels=label_list, include_lowest=True)

In [11]:
#First I am going to find the purchase count for each age
age_purchases_count= purchase_data_df["Age Range"].value_counts()
#Now I am recounting the number of each age like the dataframe above 
age_number = no_duplicate_df["Age Range"].value_counts()

#This groups the dataframe by age which makes it easier to perform functions on it 
age_grouped_df = purchase_data_df.groupby(["Age Range"])

tot_age_spent = age_grouped_df["Price"].sum()
avg_age_spent = age_grouped_df["Price"].mean()

avg_per_age = tot_age_spent / age_number

# Here I am grouping and printing the information
age_purchasing_df = pd.DataFrame(age_purchases_count)
age_purchasing_df["Average Purchase Price"] = avg_age_spent.map("${:.2f}".format)
age_purchasing_df["Total Purchase Value"] = tot_age_spent.map("${:.2f}".format)
age_purchasing_df["Avg Total Purchase per Person"] = avg_per_age.map("${:.2f}".format)

age_purchasing_df
age_purchasing_df.reindex(["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

,Age Range,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0-10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Using a groupby function to group the dataframe by SN.  


* Then finding how much each user spent in total, the average purchase price for each user, and the number of items each user bought

In [12]:
#First I am going to find the purchase count for each SN
SN_purchases_count= purchase_data_df["SN"].value_counts()

#This groups the dataframe by SN which makes it easier to perform functions on it 
SN_grouped_df = purchase_data_df.groupby(["SN"])

tot_SN_spent = SN_grouped_df["Price"].sum()
avg_SN_spent = SN_grouped_df["Price"].mean()
SN_values = SN_grouped_df["Item ID"].count()

# Here I am grouping and printing the information
SN_purchasing_df = pd.DataFrame(SN_values)
SN_purchasing_df["Average Purchase Price"] = avg_SN_spent.map("${:.2f}".format)
SN_purchasing_df["Total Purchase Value"] = tot_SN_spent

#For some reason when I sort by Total Purchase Value it does not give the greatest prices 
SN_rename = SN_purchasing_df.rename(columns={"Item ID":"Purchase Count"})
SN_sorted = SN_rename.sort_values("Total Purchase Value",ascending=False)

SN_sorted["Total Purchase Value"] = tot_SN_spent.map("${:.2f}".format)
SN_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Using groupby to group the dataframe by both Item Name and ID item 


* Then calculating how many times each item was purchased, the item price, and the total revenue that each item brought in

In [32]:
#First I am going to find the purchase count for each item
#item_purchases_count= purchase_data_df["Item ID"].value_counts()

#This groups the dataframe by SN which makes it easier to perform functions on it

item_grouped_df = purchase_data_df.groupby(["Item Name","Item ID"])

tot_item_spent = item_grouped_df["Price"].sum()
item_count = item_grouped_df["Price"].count()
item_price = item_grouped_df["Price"].unique()

# Here I am grouping and printing the information
item_purchasing_df = pd.DataFrame(item_count)
item_purchasing_df = item_purchasing_df.rename(columns={"Price":"Purchase Count"})
item_purchasing_df["Item Price"] = item_price
item_purchasing_df["Total Purchase Value"] = tot_item_spent.map("${:.2f}".format)

item_purchasing_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
Abyssal Shard,162,5,[2.67],$13.35
"Aetherius, Boon of the Blessed",137,5,[3.39],$16.95
Agatha,120,6,[3.08],$18.48
Alpha,130,3,[2.07],$6.21
"Alpha, Oath of Zeal",79,3,[4.05],$12.15